{{ if isset .Site.Params "intro" }}
{{ if .Site.Params.intro.enable }}
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="{{ .Site.Params.intro.icon }}"></i>
                </div>
                <h3 class="text-uppercase">{{ .Site.Params.intro.title }}</h3>
                <p class="lead">{{ .Site.Params.intro.subtitle }}<br>{{ .Site.Params.intro.subtitle2 }}<br>{{ .Site.Params.intro.subtitle3 }}<br><br>{{ .Site.Params.intro.subtitle4 }}</p>
                <p class="text-center">
                    {{ .Site.Params.intro.link_text }}
                </p>
<!--
                <p class="text-center">
                    <a href="{{ .Site.Params.intro.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.intro.link_text }}</a>
                </p>
-->
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
