{{ if isset .Site.Params "latitude" }}
  {{ if isset .Site.Params "longitude" }}
<section class="bar background-white no-mb">
    <div class="container" align="center">
      <div class="heading text-center">
          <h2>アクセス</h2>
      </div>
      <div class="col-md-6">
      <p class="text-center">神奈川県藤沢市片瀬3-1-29<br>江ノ島駅、
湘南江の島駅から藤沢駅方面へ徒歩5分<br>国道467号の江ノ島駅入口交差点から車で約1分<br>片瀬郵便局の斜め向かいの青い外観のお店<br>※車は店頭の路肩に一時停車可能です。<br>
      ※地図上の<i class="fa fa-map-marker" style="color: red"></i>のクリックでルート検索ができます。</p>
      </div>
      <div class="col-md-6 img-middle">
        {{ if .Site.Params.googleMapsApiKey }}
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=35.31513,139.486059&zoom=18&size=380x380&markers=color:red%7C35.31513,139.486059&key={{.Site.Params.googleMapsApiKey}}" usemap="#Map" alt="藤沢のペットサロンの地図">
        <map name="Map">
        <area shape="rect" coords="176,154,202,193" href="https://www.google.com/maps?daddr=藤沢市片瀬3-1-29" target="_blank" alt="藤沢市のトリミングサロンの地図" />
        </map>
        {{ else }}
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
</section>


