{{ if isset .Site.Params "latitude" }}
  {{ if isset .Site.Params "longitude" }}
<section class="bar background-white no-mb">
    <div class="container">
      <h3 class="text-uppercase text-center">アクセス</h3>
      <p class="text-center">神奈川県藤沢市片瀬3-1-29<br>江ノ電江ノ島駅、
湘南モノレール湘南江の島駅から徒歩5分<br>国道467号の江ノ島駅入口交差点より藤沢駅方面へ車で約1分<br>※駐車場はありませんが、路肩駐車可能な国道に面しています。</p>
      <p class="text-center">※地図の「+」ボタンでズーム、<i class="fa fa-map-marker"></i>アイコンのクリックでルート検索ができます。</p>
    </div>
      <div class="hidden">
        <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
        <input id="gmap-marker" value="{{ .Site.BaseURL }}img/marker.png" />
        {{ if isset .Site.Params "direction" }}
          <input id="gmap-dir" value="{{ .Site.Params.direction }}" />
        {{ else }}
          <input id="gmap-dir" value="{{ .Site.Params.latitude }},{{ .Site.Params.longitude }}" />
        {{ end }}
      </div>
      <div id="map" />
  {{ end }}
{{ end }}
</section>