<section class="background-white">
    <div class="container">
      <div class="heading text-center">
          <h2>トリミング料金</h2>
      </div>
      <table>
        <thead class="text-uppercase">
          <tr>
          <th>犬種</th>
          <th>シャンプーコース</th>
          <th>シャンプー<br>＆カットコース</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>チワワ（スムース・ロング)</td>
            <td>¥3,000</td>
            <td>¥5,000</td>
          </tr>
          <tr>
            <td>ミニチュア・ダックス・フンド(スムース、ロング、ワイヤー)<br>ミニチュア・ピンシャー</td>
            <td>¥3,500</td>
            <td>¥5,500</td>
          </tr>
          <tr>
            <td>ヨークシャー・テリア<br>マルチーズ<br>ポメラニアン<br>ペキニーズ<br>パピヨン<br>ジャック・ラッセル・テリア<br>パグ<br>ボストン・テリア</td>
            <td>¥4,500</td>
            <td>¥6,500</td>
          </tr>
          <tr>
            <td>シー・ズー<br>ビション・フリーゼ<br>トイ・プードル<br>キャバリア・キング・チャールズ・スパニエル<br>ミニチュア・シュナウザー<br>ウエスト・ハイランド・ホワイト・テリア<br>フレンチ・ブルドック<br>ウエルシュ・コーギー・ペンブローク</td>
            <td>¥5,000</td>
            <td>¥7,000</td>
          </tr>
          <!-- 
          <tr>
            <td>ラブラドゥードル 10kまで</td>
            <td> ¥7,000</s><br>→ ¥5,600</td>
            <td>¥9,000</s><br>→ ¥7,200</td>
          </tr>
          
          <tr>
            <td>ラブラドール・レトリーバー</td>
            <td>¥9,000</s><br>→ ¥7,200</td>
            <td></td>
          </tr>
          <tr>
            <td>ゴールデン・レトリーバー</td>
            <td>¥9,500</s><br>→ ¥7,600</td>
            <td>¥11,500</s><br>→ ¥9,200</td>
          </tr>
           -->
        </tbody>
      </table>
      <a name="trimming-option"></a>
      <p class="pl-mg text-center">
      ※税抜き表示です。
      <br>
      ※ミックスのワンちゃんは、体格・毛質の近いワンちゃんの料金になります。上記に記載のない犬種はお問い合わせ下さい。
      <br>
      ※毛玉の多いワンちゃん、大きめのワンちゃん、毛量の多いワンちゃんは、追加料金をいただく場合があります。
      </p>
      <br>
      <div class="heading text-center">
          <h2>オプションメニュー</h2>
      </div>
      <p class="text-center">歯磨き、足先バリカン、部分カット　各¥500</p>
      <table>
        <thead class="text-uppercase">
          <tr>
          <th>サイズ</th>
          <th>うる艶トリートメント<br><p class="normal no-mg">(肌ケア＋被毛保湿。<br>アレルギーの子もOK)</p></th>
          <th>シセルリノ美毛ケア<p class="normal no-mg">(超高濃度美容液ケア)</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>小型犬　短毛</td><td>¥1,250</td><td>-</td>
          </tr>
          <tr>
            <td>小型犬　長毛</td><td>¥1,500</td><td>¥1,500</td>
          </tr>
          <tr>
            <td>中型犬　短毛</td><td>¥1,750</td><td>-</td>
          </tr>
          <tr>
            <td>中型犬　長毛</td><td>¥2,000</td><td>¥3,000</td>
          </tr>
        </tbody>
      </table>
      <p class="pl-mg text-center">
      ※シセルリノ（C-CELL'LINO）美毛ケアは、クレンジング→美容液シャンプー→トリートメント→アウトバストリートメントを行います。
      <br>
      ※税抜き表示です。
    </div>
</section>