<section class="background-white">
    <div class="container">
      <div class="heading text-center">
          <h2>トリミング料金</h2>
      </div>
      <table>
        <thead class="text-uppercase">
          <tr>
          <th>犬種</th>
          <th>マイクロバブルシャンプーコース</th>
          <th>マイクロバブルシャンプー<br>＆カットコース</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>チワワ（スムース・ロング)</td>
            <td>¥3,000</td>
            <td>¥5,000</td>
          </tr>
          <tr>
            <td>ミニチュア・ダックス・フンド(スムース、ロング、ワイヤー)<br>ミニチュア・ピンシャー</td>
            <td>¥3,500</td>
            <td>¥5,500</td>
          </tr>
          <tr>
            <td>ヨークシャー・テリア<br>マルチーズ<br>ポメラニアン<br>ペキニーズ<br>パピヨン<br>ジャック・ラッセル・テリア<br>パグ<br>ボストン・テリア<br>豆柴</td>
            <td>¥4,500</td>
            <td>¥6,500</td>
          </tr>
          <tr>
            <td>シー・ズー<br>ビション・フリーゼ<br>トイ・プードル<br>キャバリア・キング・チャールズ・スパニエル<br>ミニチュア・シュナウザー<br>ウエスト・ハイランド・ホワイト・テリア<br>フレンチ・ブルドック<br>柴犬<br>ウエルシュ・コーギー・ペンブローク</td>
            <td>¥5,000</td>
            <td>¥7,000</td>
          </tr>
          <tr>
            <td>シェットランド・シープドッグ<br>アメリカン・コッカー・スパニエル<br>イングリッシュ・コッカー・スパニエル</td>
            <td>¥6,500</td>
            <td>¥8,500</td>
          </tr>
          <!-- 
          <tr>
            <td>ラブラドゥードル 10kまで</td>
            <td> ¥7,000</s><br>→ ¥5,600</td>
            <td>¥9,000</s><br>→ ¥7,200</td>
          </tr>
          
          <tr>
            <td>ラブラドール・レトリーバー</td>
            <td>¥9,000</s><br>→ ¥7,200</td>
            <td></td>
          </tr>
          <tr>
            <td>ゴールデン・レトリーバー</td>
            <td>¥9,500</s><br>→ ¥7,600</td>
            <td>¥11,500</s><br>→ ¥9,200</td>
          </tr>
           -->
        </tbody>
      </table>
      <a name="trimming-option"></a>
      <p class="pl-mg text-center">
      ※税抜き表示です。
      <br>
      ※ミックスのワンちゃんは、体格・毛質の近いワンちゃんの料金になります。上記に記載のない犬種はお問い合わせ下さい。
      <br>
      ※毛玉の多いワンちゃん、大きめのワンちゃん、毛量の多いワンちゃんは、追加料金をいただく場合があります。初回店頭で確認して事前にお伝えします。
      </p>
      <h3 class="text-uppercase text-center">オプションメニュー</h3>
      <table>
        <thead class="text-uppercase">
          <tr>
          <th>サイズ</th>
          <th>シルクの泡パック<p class="normal no-mg">(シルク特有の保湿効果で美毛に)</p></th>
          <th>うる艶トリートメント<br><p class="normal no-mg">(皮膚再生力向上、被毛に潤いでアンチエイジング)</p></th>
          </tr>
        </thead>
        <tbody>
        {{ $url := "/static/csv/option.csv" }}
        {{ $sep := "," }}
        {{ range $i, $r := getCSV $sep $url }}
          <tr>
            <td>{{ index $r 0 }}</td>
            <td>{{ index $r 1 }}</td>
            <td>{{ index $r 2 }}</td>
          </tr>
        {{ end }}
        </tbody>
      </table>
      <p class="pl-mg text-center">
      ※税抜き表示です。
    </div>
</section>