{{ if isset .Site.Params "reserve" }}
{{ if .Site.Params.reserve.enable }}
<section class="bar no-mb color-white text-center">
<!--    <div class="dark-mask"></div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase">
                {{ .Site.Params.reserve.title }}</h2>
                <ul class="tx-lt">
                <p>                
                <li>{{ .Site.Params.reserve.subtitle }}</li>
                <li>{{ .Site.Params.reserve.subtitle2 }}</li>
                <li>{{ .Site.Params.reserve.subtitle3 }}</li>
                <li>{{ .Site.Params.reserve.subtitle4 }}</li>
                <li>{{ .Site.Params.reserve.subtitle5 }}</li>
                <li>{{ .Site.Params.reserve.subtitle6 }}
                </p>
                </ul>
                
<!--                <p class="text-center">
                    {{ .Site.Params.reserve.link_text }}
                </p>

                <p class="text-center">
                    <a href="{{ .Site.Params.reserve.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.reserve.link_text }}</a>
                </p>
-->
            </div>

        </div>
    </div>
  <a name="trimming-staff"></a>
</section>
{{ end }}
{{ end }}
