<!--{{ template "_internal/google_analytics.html" . }} -->
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>
<script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>
<script defer="defer" src="{{ .Site.BaseURL }}js/front.js"></script>
<script src="{{ .Site.BaseURL }}js/instafeed.min.js"></script>
<script defer="defer" src="{{ .Site.BaseURL }}js/swiper.min.js"></script>
<script defer="defer" src="{{ .Site.BaseURL }}js/jquery.matchHeight.js"></script>
<script defer="defer" src="{{ .Site.BaseURL }}js/magnificpopup.min.js"></script>
<script>
$(function(){
　　$('.matchHeight').matchHeight();
});
</script>


<!-- Instafeed -->
 <script defer="defer" type="text/javascript">
var feed = new Instafeed({
    clientId: '8ac86c93bb3444e39b00dd7744273150',
    get: 'user', 
    userId: '5354957122',
    accessToken:'5354957122.8ac86c9.fd1bcb97917544b9895298ff4934b1c5',
    links: true ,
    sortBy: 'most-liked' ,
    limit: 20, // 取得件数 
    resolution:'standard_resolution', // thumbnail (default) - 150x150 | low_resolution - 306x306 | standard_resolution - 612x612
    template: '<div class="instafeed-image swiper-slide"><a href="{{ .Site.Params.instafeed.image }}" data-title="{{ .Site.Params.instafeed.caption }}"><img src="{{ .Site.Params.instafeed.image }}" title="{{ .Site.Params.instafeed.caption }}" /></a></div>',
    after: function () {
  var mySwiper = new Swiper('.swiper-container', {
  	roundLengths: true,
    loop: true,
    slidesPerView: 9,
	navigation: {
	    nextEl: '.swiper-button-next',
	    prevEl: '.swiper-button-prev',
	  },	  
	pagination: {
	  el: '.swiper-pagination',
	  type: 'bullets',
	},
    breakpoints: {
    768: {
      slidesPerView: 3
    	},
    1350: {
      slidesPerView: 6
    	} 	
 	}
  });
},


});
feed.run();
</script>

<!-- Magnific Popup -->
<script defer="defer" type="text/javascript">
$(document).ready(function() {
  $('.popup-gallery').magnificPopup({
    delegate: 'a',
    type: 'image',
    mainClass: 'mfp-img-mobile',
    zoom: {
            enabled: true, 
            duration: 300,
            easing: 'ease-in-out',
            opener: function(openerElement) {
              return openerElement.is('img') ? openerElement : openerElement.find('img');
            }
          },
    gallery: {
      enabled: true,
    },
    image: {
      tError: '<a href="%url%">The image #%curr%</a> 表示に失敗しました.',
      titleSrc: function(item) {
        return item.el.attr('data-title');
      }
    }
  });
});
</script>


</head>
<!-- Facebook Pixel -->
<script defer="defer">
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2090918967812279');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2090918967812279&ev=PageView&noscript=1"
/></noscript>

<!-- Yahoo Code for your Target List -->
<script defer="defer" type="text/javascript" language="javascript">
/* <![CDATA[ */
var yahoo_retargeting_id = '01APARI6FL';
var yahoo_retargeting_label = '';
var yahoo_retargeting_page_type = '';
var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
/* ]]> */
</script>
<script defer="defer" type="text/javascript" language="javascript" src="https://b92.yahoo.co.jp/js/s_retargeting.js"></script>
<!-- owl carousel -->
<script src="{{ .Site.BaseURL }}js/owl.carousel.js"></script>
<script src="{{ .Site.BaseURL }}js/owl.carousel.custom.js"></script>  
     <script type="text/javascript">
            $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
                loop: false,
                margin: 10,
                autoplay: false,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                    nav: false
                  },
                  600: {
                    items: 3,
                    nav: false
                  },
                  1000: {
                    items: 5,
                    nav: false,
                    loop: false,
                                    autoplay: false,
                    margin: 20
                  }
                },
                URLhashListener: false,
                startPosition: 'URLHash'
              })
            })
</script>
<!-- schema -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "藤沢市",
    "addressRegion": "神奈川県",
    "postalCode":"2510032",
    "streetAddress": "片瀬3-1-29"
    },
    "url": "https://bluepaws.jp/",
    "image": "https://bluepaws.jp/img/intro-photo.jpg",    
    "description": "ワンちゃんを可愛くトリミング。ゲージフリーで、ワンコに快適な環境です。プライベートサロンなので、他のワンコが苦手でも安心。江ノ島駅近くのドッグサロン/トリミングサロン BLUE PAWS(ブルーパウズ)です。",
    "name": "BLUE PAWS(ブルーパウズ)",
    "telephone": "050-3196-3129",
    "openingHours": "Mo,Tu,We,Fr,Sa 08:30-18:00",
    "paymentAccepted": "現金, クレジットカード",
    "logo": "https://bluepaws.jp/img/logo-small.svg",
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": "35.315133",
    "longitude": "139.486057"
    },      
    "hasMap": "https://www.google.com/maps/place/%E3%83%89%E3%83%83%E3%82%B0%E3%82%B5%E3%83%AD%E3%83%B3+BLUE+PAWS+%E3%83%96%E3%83%AB%E3%83%BC%E3%83%91%E3%82%A6%E3%82%BA/@35.3149666,139.4858798,20z/data=!4m5!3m4!1s0x0:0xb852954386b98cba!8m2!3d35.315132!4d139.486057",
    "sameAs" : [ "https://www.facebook.com/bluepaws2018/",
    "https://www.instagram.com/bluepaws2018/"],
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.8",
    "bestRating": "5",
    "worstRating": "1",
    "reviewCount": "4"
   },   
    "review": [
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "M.H様"
      },
      "datePublished": "2018-03-18",
      "description": "湘南地区でいろいろなペットサロンに行きましたが、ゲージに入れないお店は初めてです。ワンコも喜ぶと思って、こちらのお店に行きました。3匹お願いしましたが、とても丁寧にカットしていただきました。全体のフォルムも可愛いのですが、肉球や指の間も綺麗にカットされていて、耳の中も綺麗になっていました。お尻の周りのカットも丁寧にされていて、とても満足です。",
      "name": "とても満足です",
      "reviewRating": {
        "@type": "Rating",
        "bestRating": "5",
        "ratingValue": "5",
        "worstRating": "1"
      }
    },
    {
      "@type": "Review",
      "author": {
      "@type": "Person",
      "name": "Y.I様"
      },
      "datePublished": "2018-02-07",
      "description": "偶然ネットでゲージフリー。という魅力的な広告を見つけ、泡パック付きシャンプーコースに行って来ました。4カ月のポメラニアンで毛がまだシャワシャワでしたが、ふあっふあ。お店は通り沿いでブルーの入り口が分かりやすいです。オススメします。",
      "name": "オススメします",
      "reviewRating": {
        "@type": "Rating",
        "bestRating": "5",
        "ratingValue": "5",
        "worstRating": "1"
        }
    },
    {
      "@type": "Review",
      "author": {
      "@type": "Person",
      "name": "R.I様"
      },
      "datePublished": "2018-02-27",
      "description": "4才のトイプードルのトリミングコースでお世話になりました。トリマーさんが優しく犬に愛情たっぷりに接してくださり安心してお任せすることができました。犬にとってもストレスの少ないプライベートサロンです。",
      "name": "犬にとってもストレスの少ないプライベートサロンです",
      "reviewRating": {
        "@type": "Rating",
        "bestRating": "5",
        "ratingValue": "5",
        "worstRating": "1"
        }
    },
    {
      "@type": "Review",
      "author": {
      "@type": "Person",
      "name": "Y.S様"
      },
      "datePublished": "2018-01-27",
      "description": "お店オープンのお知らせを見て、早速シャンプーをお願いしました。初回のサービスでシルク泡パックを付けてもらいました。シャンプーしてもらってから２週間経ちますが、シャンプーのみの場合よりも毛艶がよく、毛のフワフワ感も持続しているように思います。またお願いします！",
      "name": "またお願いします！",
      "reviewRating": {
        "@type": "Rating",
        "bestRating": "5",
        "ratingValue": "4",
        "worstRating": "1"
      }
    }
    ]
  }
</script>