{{ template "_internal/google_analytics.html" . }}
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>
{{ if .Site.Params.googleMapsApiKey }}
<script src="//maps.googleapis.com/maps/api/js?key={{.Site.Params.googleMapsApiKey}}&v=3.exp"></script>
{{ else }}
<script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
{{ end }}
<script src="{{ .Site.BaseURL }}js/hpneo.gmaps.js"></script>
<script src="{{ .Site.BaseURL }}js/gmaps.init.js"></script>
<script src="{{ .Site.BaseURL }}js/front.js"></script>
<script src="{{ .Site.BaseURL }}js/instafeed.min.js"></script>
<script src="{{ .Site.BaseURL }}js/swiper.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.matchHeight.js"></script>
<script>
$(function(){
　　$('.matchHeight').matchHeight();
});
</script>

<!-- Google Code for &#12469;&#12452;&#12488;&#20869;&#12398;&#38651;&#35441;&#21839;&#21512;&#12379; Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
phone number link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
  goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 822389348;
    w.google_conversion_label = "AJIPCPn2_3oQ5NSSiAM";
    w.google_remarketing_only = false;
  }
  // DO NOT CHANGE THE CODE BELOW.
  goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    var opt = new Object();
    opt.onload_callback = function() {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  }
  var conv_handler = window['google_trackConversion'];
  if (typeof(conv_handler) == 'function') {
    conv_handler(opt);
  }
}
/* ]]> */
</script>
<script type="text/javascript"
  src="//www.googleadservices.com/pagead/conversion_async.js">
</script>
 <script type="text/javascript">
var feed = new Instafeed({
    clientId: '8ac86c93bb3444e39b00dd7744273150',
    get: 'user', 
    userId: '5354957122',
    accessToken:'5354957122.8ac86c9.fd1bcb97917544b9895298ff4934b1c5',
    links: true ,
    sortBy: 'most-liked' ,
    limit: 20, // 取得件数 
    resolution:'thumbnail', // thumbnail (default) - 150x150 | low_resolution - 306x306 | standard_resolution - 612x612
    template: '<div class="instafeed-image swiper-slide"><a href="{{ .Site.Params.instafeed.link }}"  target="_blank"><img src="{{ .Site.Params.instafeed.image }}" title="{{ .Site.Params.instafeed.caption }}" /></a></div>',
    after: function () {
  var mySwiper = new Swiper('.swiper-container', {
  	roundLengths: true,
    loop: true,
    slidesPerView: 9,
	navigation: {
	    nextEl: '.swiper-button-next',
	    prevEl: '.swiper-button-prev',
	  },	  
	pagination: {
	  el: '.swiper-pagination',
	  type: 'bullets',
	},
    breakpoints: {
    768: {
      slidesPerView: 3
    	},
    1350: {
      slidesPerView: 6
    	} 	
 	}
  });
}
});
feed.run();
</script>

</head>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2090918967812279');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2090918967812279&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Yahoo Code for your Conversion Page In your html page, add the snippet and call
yahoo_report_conversion when someone clicks on the phone number link or button. -->
<script type="text/javascript">
    /* <![CDATA[ */
    yahoo_snippet_vars = function() {
        var w = window;
        w.yahoo_conversion_id = 1000417478;
        w.yahoo_conversion_label = "osCuCK64xXsQoYCbhwM";
        w.yahoo_conversion_value = 0;
        w.yahoo_remarketing_only = false;
    }
    // IF YOU CHANGE THE CODE BELOW, THIS CONVERSION TAG MAY NOT WORK.
    yahoo_report_conversion = function(url) {
        yahoo_snippet_vars();
        window.yahoo_conversion_format = "3";
        window.yahoo_is_call = true;
        var opt = new Object();
        opt.onload_callback = function() {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        }
        var conv_handler = window['yahoo_trackConversion'];
        if (typeof(conv_handler) == 'function') {
            conv_handler(opt);
        }
    }
    /* ]]> */
</script>
<script type="text/javascript"
        src="https://s.yimg.jp/images/listing/tool/cv/conversion_async.js">
</script>
<!-- Yahoo Code for your Target List -->
<script type="text/javascript" language="javascript">
/* <![CDATA[ */
var yahoo_retargeting_id = '01APARI6FL';
var yahoo_retargeting_label = '';
var yahoo_retargeting_page_type = '';
var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
/* ]]> */
</script>
<script type="text/javascript" language="javascript" src="https://b92.yahoo.co.jp/js/s_retargeting.js"></script>
