{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}
<section class="bar background-pentagon no-mb no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.testimonials.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.testimonials.subtitle | markdownify }}
                </p>
                <!-- *** TESTIMONIALS CAROUSEL *** -->

                <ul class="owl-carousel owl-theme staff">
                    {{ range .Site.Data.testimonials }}
                    <div class="item list">
                        <div class="testimonial row-eq-height">
                            <div class="text">
                                <p>{{ .text | markdownify }}</p>
                            </div>
                            <div class="bottom">
                <!-- 
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
 -->
                                <div class="name-picture">
                                    <img class="" alt="{{ .alt }}" src="{{ .avatar | absURL }}">
                                    <h5>{{ .name }}</h5>
                                    <p>{{ .position }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }} 
                </ul>
                <!-- /.owl-carousel -->
                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>
        </div>
    </div>
  <a name="trimming-menu"></a>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
