/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* decoration */

.normal {
	font-weight: normal;
}

#footer {
	color: white;
}

.testimonials .item .testimonial .name-picture img {
	width: 70px;
	border-radius: 40px;
}

/* padding,margin */

.no-pb {
	padding-bottom: 0px;
}

.no-mg {
	margin-bottom: 0px;
}

.pl-mg {
	margin-top: 10px;
}

/* table */

table {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    width: auto;
    border-spacing: 0;
    margin: 0 auto;
}
td {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    text-align: center;
    padding: 5px;
}
th { 
	background-color: #467fbf; color: #fff;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    text-align: center;
	padding: 10px 5px;
}



