/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 200px;
}

/* decoration */

.box-simple h3{
  letter-spacing: 0;
}

.box-simple p {
    color: black;
}

.normal {
	font-weight: normal;
}


#footer {
	color: white;
}

.testimonials .item .testimonial .name-picture img {
	width: 70px;
	border-radius: 40px;
}

.testimonials .item .testimonial .text {
    color: black;
}

.home-carousel {
	background: none;
}

/* padding,margin */

.bar {
    padding: 30px 0;
}

.no-pb {
	padding-bottom: 0px;
}

.no-mg {
	margin-bottom: 0px;
}

.pl-mg {
	margin-top: 10px;
}

/* table */

table {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    width: auto;
    border-spacing: 0;
    margin: 0 auto;
}

@media (min-width: 820px) {
  table {
    font-size: 18px;
  }
}

td {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    text-align: center;
    padding: 5px;
}
th { 
	background-color: #467fbf; color: #fff;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    text-align: center;
	padding: 10px 5px;
}

/* instafeed */
#instafeed {
	-webkit-padding-start: 0;
}

#instafeed img{
    padding: 2px;
}

.instafeed-image {/*親div*/
  position: relative;/*相対配置*/
  display: inline-block;
  }

@media (max-width: 820px){
	#instafeed-image {
	    width: 25%;
	}
}

.instafeed-image p {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 2px;
  right: 2px;
  font-size: 16px;
  }

