/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* table */

table {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    width: 640px;
    border-spacing: 0;
    margin: 0 auto;
}
th, td {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    text-align: center;
    padding: 5px;
}
th { background-color: navy; color: #fff;}


// Horizontal
table {
  > thead {
    float: left;
  }
  > tbody {
    > tr {
      display: inline-block;
      vertical-align: top;
    }
  }
}

#pricelist {
  overflow-x: auto;
  width: auto;
}

