<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body style>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T48G9PD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
<!--

        {{ partial "features.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "features.html" . }}
-->
        {{ partial "intro.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "dogs.html" . }}

        {{ partial "review.html" . }}

        {{ partial "course.html" . }}

        {{ partial "pricelist.html" . }}
        
        {{ partial "reserve.html" . }}

        {{ partial "map.html" . }}


    </div>
    <!-- /#all -->




    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>
</html>
