<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "scripts.html" . }}

  <body style>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
<!--

        {{ partial "features.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "features.html" . }}
-->
        {{ partial "intro.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "course.html" . }}

        {{ partial "pricelist.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "map.html" . }}


    </div>
    <!-- /#all -->




    {{ partial "footer.html" . }}

  </body>
</html>
